services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    env_file: .env.prod
    depends_on:
      - db
  db:
    image: postgres:16
    env_file: .env.prod
    volumes:
      - pgdata_prod:/var/lib/postgresql/data
volumes:
  pgdata_prod:
