services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
      - "5555:5555" # Prisma Studio (dev)
    env_file: .env.dev
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    depends_on:
      - db
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: brunodb
      POSTGRES_USER: brunodb_owner
      POSTGRES_PASSWORD: senhasegura
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
volumes:
  pgdata_dev:
